services:
  web:
    container_name: adh-prod-web
    build: .
    restart: always
    working_dir: /var/www/html
    ports:
      - "8081:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
